@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.chat-container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #b3cde0, #6497b1);
    flex-direction: column;
}

.video-player, .chat-section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.video-player {
    font-family: 'Lato', sans-serif;
    order: 1;
}

.youtube-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: black;
    border-radius: 10px;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-url-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.video-url-input input, .video-url-input button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.video-url-input button {
    margin-left: 10px;
    cursor: pointer;
}

.video-url-input button:hover {
    background-color: #f0f0f0;
}

.chat-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    order: 2;
}

.chat-messages {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.chat-message {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.chat-message b {
    display: block;
    margin-bottom: 5px;
}

.chat-input {
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

.chat-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.chat-send-button {
    position: absolute;
    right: 10px;
    bottom: 8px;
    background-color: #008cba;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.875rem;
}

.chat-send-button:hover {
    background-color: #e0e0e0;
}

/* Media Query for devices with width less than or equal to 600px */
@media (max-width: 600px) {
    .chat-container {
        flex-direction: column;
    }

    .video-player, .chat-section {
        width: 100%;
    }
}

.day .chat-container {
    background-image: linear-gradient(to bottom right, #E0F7FA, #B2EBF2);
}
.night .chat-container {
    background-image: linear-gradient(to bottom right, #37474F, #263238);
}

.day .chat-message.test1 {
    background-color: #ccffd5;
}
.night .chat-message.test1 {
    background-color: #005927;
}
.day .chat-message.test2 {
    background-color: #cce7ff;
}
.night .chat-message.test2 {
    background-color: #002f5f;
}

.color0 { background-color: rgba(240, 163, 255, 0.2); }
.color1 { background-color: rgba(0, 117, 220, 0.2); }
.color2 { background-color: rgba(153, 63, 0, 0.2); }
.color3 { background-color: rgba(76, 0, 92, 0.2); }
.color4 { background-color: rgba(25, 25, 25, 0.2); }
.color5 { background-color: rgba(0, 92, 49, 0.2); }
.color6 { background-color: rgba(43, 206, 72, 0.2); }
.color7 { background-color: rgba(255, 204, 153, 0.2); }
.color8 { background-color: rgba(128, 128, 128, 0.2); }
.color9 { background-color: rgba(148, 255, 181, 0.2); }
